:root {
--calculatorColor: #699;
--screenColor: rgb(200, 195, 195);
--numberButtonColor: beige;
--operatorButtonColor: rgba(245, 245, 220, 0.487);
--borderColor: black;
--radius: 5px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
    border: solid violet;
    border-radius: var(--radius);
}

.calculator {
    width: 400px;
    border: solid var(--borderColor);
    border-radius: var(--radius);
    padding: 20px;
    background-color: var(--calculatorColor);
}

.screen {
    text-align: right;
    padding: 35px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: var(--screenColor);
    border: solid var(--borderColor);
    border-radius: var(--radius);
    font-size: 20px;
}

.buttonsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .span-2-button {
    grid-column: span 2;
    background-color: rgba(255, 106, 106, 0.896);
}

button {
    border-radius: var(--radius);
    border: solid var(--borderColor);
    background-color: var(--numberButtonColor);
    padding: 20px;
    font-size: 19px;
}

.operator-button {
    background-color: var(--operatorButtonColor);
}

.number-button {
    
}