:root {
--border: #699;
--calculator: beige;
--screen: rgb(200, 195, 195);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
    border: solid violet;
    border-radius: 15px;
}

.calculator {
    width: 400px;
    border: solid var(--border);
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
}

.screen {
    text-align: right;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--screen);
    border: solid var(--border);
    border-radius: 15px;
}

.buttonsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .span-2 {
    grid-column: span 2;
}

button {
    border-radius: 15px;
    border: solid var(--border);
}